spring:
  liquibase:
    change-log: classpath:changelog/000-changelog.yaml
  datasource:
    url: jdbc:h2:mem:mydb;MODE=LEGACY
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate:
        auto_quote_keyword: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8081
app:
  name: "Kviklet"
  in-docker: true

# Kubernetes exec behaviour
kviklet:
  kubernetes:
    exec:
      # How long to wait for a kubectl exec process to finish before returning partial output.
      initial-wait-timeout-seconds: 5
      # How long to wait (in minutes) before destroying the kubectl exec process.
      timeout-minutes: 60
