apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: {{ .Release.Name }}-iap
spec:
  iap:
    enabled: true
    oauthclientCredentials:
      secretName: {{ .Values.iap.secretName }}
  connectionDraining:
    drainingTimeoutSec: 3600
  timeoutSec: 3600