name: Backend
on: [pull_request]
jobs:
  tests:
    name: Tests
    # Run our kotlin test suite via gradle on JVM 1.9
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@master
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "temurin" # You can use 'adopt' or 'temurin' as the distribution
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build --stacktrace --info
  ktlint:
    name: Ktlint
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: ktlint
        uses: ScaCap/action-ktlint@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review # Change reporter
          fail_on_error: true
          ktlint_version: 1.3.0
