name: Build and Push Image
on:
  push:
    branches:
      - main
      - test-deploy
jobs:
  build-and-push:
    environment: dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: jaschaopsgate/opsgate:latest,jaschaopsgate/opsgate:${{ github.sha }}
